In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('pisa2012.csv', encoding='latin-1')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 636 entries, Unnamed: 0 to VER_STU
dtypes: float64(250), int64(18), object(368)
memory usage: 2.3+ GB

In [10]:
df.isnull().sum().sort_values()

Unnamed: 0         0
W_FSTR4            0
W_FSTR5            0
W_FSTR6            0
W_FSTR7            0
W_FSTR8            0
W_FSTR9            0
W_FSTR10           0
W_FSTR11           0
W_FSTR12           0
W_FSTR13           0
W_FSTR14           0
W_FSTR15           0
W_FSTR16           0
W_FSTR17           0
W_FSTR18           0
W_FSTR19           0
W_FSTR20           0
W_FSTR21           0
W_FSTR22           0
W_FSTR23           0
W_FSTR24           0
W_FSTR25           0
W_FSTR26           0
W_FSTR3            0
W_FSTR2            0
W_FSTR1            0
W_FSTUWT           0
IC07Q01            0
SENWGT_STU         0
               ...
LANGCOMM      441396
EC07Q01       441478
EC08Q01       441857
EC08Q03       442001
EC08Q02       442097
EC08Q04       442160
EC10Q01       442197
EC07Q02       442271
LANGRPPD      442353
EC12Q01       442581
EC07Q05       442626
EC07Q04       442658
EC07Q03       443213
ST22Q01       444769
EC06Q01       445145
ST21Q01       452762
ST23Q01       471760
HOSTCUL       471892
ST23Q02       471978
ST23Q03       471993
HERITCUL      471994
ST24Q01       472033
ST23Q05       472040
ST23Q07       472079
ST23Q04       472079
ST23Q08       472108
CULTDIST      472110
ST23Q06       472117
ST24Q02       472139
ST24Q03       472209
Length: 636, dtype: int64

In [12]:
data_dict = pd.read_csv('pisadict2012.csv', encoding='latin-1')

In [13]:
data_dict.head()

  Unnamed: 0                                                  x
0        CNT                           Country code 3-character
1   SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
2    STRATUM  Stratum ID 7-character (cnt + region ID + orig...
3       OECD                                       OECD country
4         NC                       National Centre 6-digit Code