# Introduction

1. How does the choice of school play into academic performance?
2. Are there differences in achievement based on gender, location, or student attitudes?
3. Are there differences in achievement based on teacher practices and attitudes?
4. Does there exist inequality in academic achievement?

# Import libs

In [34]:
import pandas as pd
import numpy as np

# Load data

In [3]:
df = pd.read_csv('pisa2012.csv', encoding='latin-1')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 636 entries, Unnamed: 0 to VER_STU
dtypes: float64(250), int64(18), object(368)
memory usage: 2.3+ GB

# Question 1: Academic performance vs. choice of school

In [31]:
regions = df.CNT.unique()
regions

array(['Albania', 'United Arab Emirates', 'Argentina', 'Australia',
       'Austria', 'Belgium', 'Bulgaria', 'Brazil', 'Canada',
       'Switzerland', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic',
       'Germany', 'Denmark', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom', 'Greece', 'Hong Kong-China', 'Croatia',
       'Hungary', 'Indonesia', 'Ireland', 'Iceland', 'Israel', 'Italy',
       'Jordan', 'Japan', 'Kazakhstan', 'Korea', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao-China', 'Mexico',
       'Montenegro', 'Malaysia', 'Netherlands', 'Norway', 'New Zealand',
       'Peru', 'Poland', 'Portugal', 'Qatar', 'China-Shanghai',
       'Perm(Russian Federation)', 'Florida (USA)', 'Connecticut (USA)',
       'Massachusetts (USA)', 'Romania', 'Russian Federation',
       'Singapore', 'Serbia', 'Slovak Republic', 'Slovenia', 'Sweden',
       'Chinese Taipei', 'Thailand', 'Tunisia', 'Turkey', 'Uruguay',
       'United States of America', 'Vietnam'], dtype=object)

Relevant columns:

- IC02Q01: At school - Desktop Computer
- IC02Q02	At school - Portable laptop
- IC02Q03	At school - Tablet computer

In [37]:
df_school = df[['IC02Q01', 'IC02Q02', 'IC02Q03']]

In [50]:
df_school['IC02Q02'].sample(200)

122446                        NaN
112501                         No
253704                         No
456120                        NaN
220462                         No
254830                         No
397234                        NaN
394957                        NaN
345515          Yes, and I use it
6891                          NaN
211223                         No
89168                         NaN
90256                         NaN
363546          Yes, and I use it
366555          Yes, and I use it
342080                         No
220400                         No
229411                         No
95039                         NaN
364065                        NaN
48649     Yes, but I dont use it
402565                         No
123456          Yes, and I use it
35024           Yes, and I use it
424195    Yes, but I dont use it
129341                         No
32919                          No
1209                          NaN
133658    Yes, but I dont use it
22258                          No
                   ...
366196    Yes, but I dont use it
202158                         No
379217    Yes, but I dont use it
363947          Yes, and I use it
169738                         No
473639                         No
355736                        NaN
11010                         NaN
44909                          No
228532    Yes, but I dont use it
343445                         No
326706                         No
320966          Yes, and I use it
111943          Yes, and I use it
264299    Yes, but I dont use it
23513           Yes, and I use it
316088                         No
346088                         No
197876                        NaN
196558                        NaN
2422                          NaN
412421                        NaN
466644    Yes, but I dont use it
297722                        NaN
293231                         No
188820                        NaN
452285    Yes, but I dont use it
114491                        NaN
419970                         No
228665                         No
Name: IC02Q02, Length: 200, dtype: object

Convert the datatype of Column IC02Q01 to boolean

In [98]:
def convert_bool(v):
    if type(v) is float:
        return np.nan
    elif "Yes" in v:
        return 1
    else: return 0

In [100]:
df_school['desktop'] = df_school.IC02Q01.apply(convert_bool)
df_school['laptop'] = df_school.IC02Q02.apply(convert_bool)
df_school['tablet'] = df_school.IC02Q03.apply(convert_bool)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [101]:
df_school.sample(20)

,IC02Q01,IC02Q02,IC02Q03,desktop,laptop,tablet
352770,NaN,NaN,NaN,NaN,NaN,NaN
240617,No,No,No,0.0,0.0,0.0
450368,"Yes, but I dont use it",No,No,1.0,0.0,0.0
267913,"Yes, and I use it","Yes, but I dont use it",No,1.0,1.0,0.0
430689,"Yes, and I use it",No,No,1.0,0.0,0.0
4804,NaN,NaN,NaN,NaN,NaN,NaN
465281,NaN,NaN,NaN,NaN,NaN,NaN
181364,"Yes, and I use it","Yes, and I use it",No,1.0,1.0,0.0
450391,"Yes, and I use it",No,No,1.0,0.0,0.0
6080,NaN,NaN,NaN,NaN,NaN,NaN
79880,NaN,NaN,NaN,NaN,NaN,NaN
268922,"Yes, and I use it",No,No,1.0,0.0,0.0
2853,NaN,NaN,NaN,NaN,NaN,NaN
390096,NaN,NaN,NaN,NaN,NaN,NaN
53802,NaN,NaN,NaN,NaN,NaN,NaN
167367,"Yes, and I use it","Yes, and I use it",No,1.0,1.0,0.0
483277,NaN,NaN,NaN,NaN,NaN,NaN
250268,NaN,NaN,NaN,NaN,NaN,NaN
24817,"Yes, but I dont use it",NaN,No,1.0,NaN,0.0
351150,NaN,NaN,NaN,NaN,NaN,NaN